<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Adopt Today!</title>
 </head>

 <body>
   <h1> Welcome to the Puppy Site! </h1>
   <a href="/NEW"> Click here for puppies </a>


 </body>
</html>
